body{
	background-color:#121214;
	font-family: "Times New Roman",san-serif;
	margin:0px auto;
}

.wrapper{
	display:flex;
	width:700px;
	margin:0px auto;
	padding-bottom:40px;
}

.wrapper__item{
	margin-left:29px;
}

.left__part{
	padding-left:20px;	
	padding-top:38px;
	width:422px;
}

.title__main{
	margin-top:0px;
	margin-bottom:38px;
	font-size: 12px;
	line-height: 1.67;
	color: #595959;
	text-align: left;
}

.top__block{
	padding-left:1px;
	position:relative;
	display:flex;
	width:400px;
	height:134px;
}

.top__block:after{
	position:absolute;
	content:"*100px";
  top: 98%;
	font-size: 12px;
	line-height: 0.83;
	color: #595959;
}

.image{
	max-width:129px;
	max-height:92px;
}

.block__item{
	margin-left:22px;
	width: 250px;
	height: 122px;
}

.title__article{
  margin-top: -3px;
	font-size: 12px;
	line-height: 1.67;
	color: #ffffff;
	text-align: left;	
}

.content__article{
	margin-top: -3px;
	font-size: 12px;
	line-height: 0.83;
	color: #595959;
	margin-top:11px;
}

.content--margin__top10px__left13px{
	margin-top: 10px;
	margin-left: 13px;

}

.right__part{
	margin-top:22px;
	padding-bottom:15px;
	float:left;
	width:237px;
	background-color:#232227;
}

.content--border{
	border-bottom:1px dotted  #595959;
	width:400px;
	margin-left:10px;
}

.more__info{
	background-image: url("images/icon.png");
	background-repeat: no-repeat;
	background-position:left center;
	font-size:12px;
	padding-left:17px;
	color:#ffffff;
	margin-top:12px;
	text-decoration:none;
	display:block;	
}

.more__info--margin__left12px{
	margin-left: 12px;
	margin-top: -4px;
}


.bottom__block{
	margin-top: 81px;	
	padding-left:12px;
	font-size: 12px;
	line-height: 0.83;
	color: #595959;
}

.bottom__block .content__article{
	margin-top: 12px;		
}

.list{
  padding-bottom: 9px;
	display: flex;
	width: 388px;
	margin-top: -14px;
	border-bottom: 1px dotted #797782;
}

.list__left{
	padding-left: 10px;
	padding-top: 0px;
	position: relative;
	list-style-type: none;
	float: left;
	font-size: 12px;
}

.list__item{
	margin-right: 2px;
}

.list__left li{
	margin-top: 14px;
}

.list__left li:before{
	position: absolute;
	border-left: 3px solid #797782;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	height: 0;
	width: 0;
	margin-top: 1px;
	left: 0%;
	content: "";
}

.list__right{
	float: right;
	font-size: 12px;
	padding-left: 10px;
	padding-top: 0px;
	position: relative;
	list-style-type: none;
	font-size: 12px;
	margin-right: 3px;
}

.list__right li{
	margin-top: 14px;
}

.list__right li:before{
	position: absolute;
	border-left: 3px solid #797782;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	height: 0;
	width: 0;
	margin-top: 1px;
	left: 0%;
	content: "";
}

.list__link{
	text-decoration:underline;
	color: #595959;
}

.right__part{
	margin-top: 22px;
	padding-bottom: 15px;
	float: left;
	width: 237px;
	background-color: #232227;
	height:370px;
}

.right__contain{
	border-top: 1px solid #353439;
	margin: 0 auto;
	display: block;
	width: 190px;
	margin-top: 70px;
}

.right__contain img{
	margin-top: 31px;
	margin-left: 8px;
}

.right__part .more__info{
	margin-left: 30px;
	margin-top: 40px;
}

.fontcolor--gray{
	color:#767884;
}

.content__first{
	font-size: 12px;
	line-height: 0.83;
	color: #ffffff;
	margin:23px 0px 7px 8px;
}

.content__second{
	font-size: 12px;
	line-height: 1;
	color: #595959;
	margin: 0px 0px 4px 8px;
}

.content__third{
	font-size: 12px;
	line-height: 1;
	color: #ffffff;
	margin: 0px 0px 0px 8px;
}