
#wappter{
  width:500px;
  margin:0 auto;
  padding-left:11px;
  padding-right:9px;
}


#table {
  width: 300;
  border-collapse: collapse;
}
  
#table, th, td {
  border: 2px solid black;
}
th ,td {
  width: 25px;
}
#value {
  width: 250px;
  height: 30px;
  background-image: url(images/Calendar.png);
  background-repeat: no-repeat;
  background-position: right;
  margin: 10px 0px 15px;
}
#head {
  color: red;
  background-color: #bebebe;
}
#table td {
  text-align: center;

}
.notday-js {
  background-color: black;
}
.day-js:hover {
  background-color: #00ace6;
}
#forward__Month-js ,#forward__Year-js ,#back__Month-js ,#back__Year-js {
  background: no-repeat;
  background-color: #a9cce3;
}
#forward__Month-js {
  background-image: url("images/nM.png");
}
#forward__Year-js {
  background-image: url("images/nY.png");  
}
#back__Month-js {
  background-image: url("images/rM.png");  
}
#back__Year-js {
  background-image: url("images/rY.png");
}
#months , #years {
  width: 100%;
  height: 100%
}
input{
  margin-top:10px;
  width:150px;
  border-radius:30px;
  height:20px;
  float:left;
  margin-right:5px;
}
